
<div class="parallax-p5">
<div class="max-width">

<div class="center jumbotron">
<div class="middletext">
<br/>
<h2> <strong> About us </strong> </h2>
	<h3> We are a group of five SFU students. <br/> Together, we form a cohesive cross functional team! </h3>
	<br/>
	<br/>
</div>
</div>
</div>
</div>
