<p>
<div class="center jumbotron">
<div class="middletext">
<h3> <strong> About us </strong> </h3>
	<h4> We are a group of five SFU students. <br/> Together, we form a cohesive cross functional team ¯\_(ツ)_/¯ </h4>
</div>
</div>
</p>