<p>
<div class="center jumbotron">
 <p> <h1>Welcome to Shrug</h1> </p>

<div class="btn-group">

	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
	<%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>
</div>

</div>
</p>