<div class="center jumbotron">
  <h1>Welcome to Shrug</h1>

	<h2>
		Home Webpage
	</h2>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<p>Find me in app/views/static_pages/home.html.erb</p>