<div class="parallax-p8">

<% provide(:title, 'All users') %>

<div id=userspage>
<h1 style= "color:white;">All users</h1>

<div class="paginate">
    <%= will_paginate @users, :users => false %>
   <!--<%= will_paginate @posts, :page_links => false %> -->
 </div>

<ul class="users" style= "background-color: white;">
  <%= render @users %>
</ul>


<div class="paginate">
   <%= will_paginate @users, :users => false %>
 </div>

</div>
</div>