<footer class="footer">
  <small>
  
    Shrug: Meet nearby people!
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", aboutpage_path %></li>
      <li><%= link_to "Help", helppage_path %></li>
    </ul>
    <br/>
    <br/>
    <br/>
  </nav>
</footer>